{% extends "base.html" %}
{% block main %}
<h1>{{ object.name }}</h1>
<div class="row">
  <div class="col">
    <table class="table table-striped table-sm">
      <caption>Draft</caption>
      <thead>
	<tr>
	  <th>Player</th>
	  <th>Amount</th>
	  <th>Date</th>
	</tr>
      </thead>
      <tbody>
	{% for player in drafted_players %}
	<tr>
	  <td><a href="{% url 'player_detail' 76173 player.player.player_id %}">{{ player.player.name }}</a></td>
	  <td>{{ player.bid_amount }}</td>
	  <td>{{ player.date }}</td>
	  <td>
	    {% if player.player not in object.players.all() %}
	    {% if player.player.franchise(76173) %}
	    Currently on team: {{ player.player.franchise(76173).name }}
	    {% else %}
	    FA
	    {% endif %}
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock main %}
