{% extends "base.html" %}
{% block main %}
{% with player=object.player %}
<h1>{{ player.name }}</h1>
<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
	{% if player.espn_id %}
	<img class="card-img-top" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{ player.espn_id }}.png&w=525&h=381" />
	{% else %}
	<img class="card-img-top" src="http://placehold.it/525x381/fff.png?text={{ player.name }}" />
	{% endif %}
      </div>
      <div class="col">
	<p class="card-text">
	<strong>#{{ player.jersey }} {{ player.name }} ({{ player.age }})</strong><br />
	<strong>Points</strong>: {{ object.total_points|round(1) }} ({{ object.average_points|round(1) }})<br />
	<strong>ADP</strong>: {{ player.adp }} ({{ player.dynasty_adp }})<br />
	<strong>H/W</strong>: {{ player.height_cm|round(0) }}cm / {{ player.weight_kg|round(0) }}kg<br />
	<strong>Draft</strong>: {{ player.draft_round_or_undrafter }} ({{ player.draft_year }})<br />
	<strong>College</strong>: {{ player.college }}<br />
	{% if player.twitter_username %}
	<strong>Twitter</strong>: <a href="https://twitter.com/{{ player.twitter_username }}" target=_blank">@{{ player.twitter_username }}</a><br />
	{% endif %}
	</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Type</th>
	      <th>Franchise</th>
	      <th>Amount</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for event in history %}
	    <tr>
	      <td>{{ event.date }}</td>
	      <td>{{ event.type }}</td>
	      <td><a href="{% url "franchise_details" 76173 event.franchise.franchise_id %}">{{ event.franchise }}</a></td>
	      <td>
		{% if event.type == "Trade" %}
		<div class="row">
		  <div class="col">
		    Gave up:<br />
		    {% for pop in event.amount.giving_up %}
		    {{ pop }}<br />
		    {% endfor %}
		  </div>
		  <div class="col">
		    Receiving:<br />
		    {% for pop in event.amount.receiving %}
		    {{ pop }}<br />
		    {% endfor %}
		  </div>
		</div>
		{% else %}
		{{ event.amount }}
		{% endif %}
	      </td>
	      {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  <div class="col-4">
    {% if player.twitter_username %}
    <a class="twitter-timeline" href="https://twitter.com/{{ player.twitter_username }}">Tweets by {{ player.twitter_username }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
  </div>
</div>
{% endwith %}
{% endblock main %}
