{% extends "base.html" %}
{% block main %}
<h1>{{ object.name }}</h1>

<div class="row">
  <div class="col">
    <table class="table table-striped table-sm">
      <caption>Total Points</caption>
      <thead>
	<tr>
	  <th>Position</th>
	  <th>Name</th>
	  <th>Rank</th>
	  <th>Total Points</th>
	  <th>Games</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>QB1</td>
	  <td>{{ object.player('QB', 0, '-total_points').name }}</td>
	  <td>{{ object.place('QB', 0, '-total_points') }}</td>
	  <td>{{ object.player('QB', 0, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('QB', 0, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>QB2</td>
	  <td>{{ object.player('QB', 1, '-total_points').name }}</td>
	  <td>{{ object.place('QB', 1, '-total_points') }}</td>
	  <td>{{ object.player('QB', 1, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('QB', 1, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>RB1</td>
	  <td>{{ object.player('RB', 0, '-total_points').name }}</td>
	  <td>{{ object.place('RB', 0, '-total_points') }}</td>
	  <td>{{ object.player('RB', 0, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('RB', 0, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>RB2</td>
	  <td>{{ object.player('RB', 1, '-total_points').name }}</td>
	  <td>{{ object.place('RB', 1, '-total_points') }}</td>
	  <td>{{ object.player('RB', 1, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('RB', 1, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>RB3</td>
	  <td>{{ object.player('RB', 2, '-total_points').name }}</td>
	  <td>{{ object.place('RB', 2, '-total_points') }}</td>
	  <td>{{ object.player('RB', 2, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('RB', 2, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>WR1</td>
	  <td>{{ object.player('WR', 0, '-total_points').name }}</td>
	  <td>{{ object.place('WR', 0, '-total_points') }}</td>
	  <td>{{ object.player('WR', 0, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('WR', 0, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>WR2</td>
	  <td>{{ object.player('WR', 1, '-total_points').name }}</td>
	  <td>{{ object.place('WR', 1, '-total_points') }}</td>
	  <td>{{ object.player('WR', 1, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('WR', 1, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>WR3</td>
	  <td>{{ object.player('WR', 2, '-total_points').name }}</td>
	  <td>{{ object.place('WR', 2, '-total_points') }}</td>
	  <td>{{ object.player('WR', 2, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('WR', 2, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>WR4</td>
	  <td>{{ object.player('WR', 3, '-total_points').name }}</td>
	  <td>{{ object.place('WR', 3, '-total_points') }}</td>
	  <td>{{ object.player('WR', 3, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('WR', 3, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>TE1</td>
	  <td>{{ object.player('TE', 0, '-total_points').name }}</td>
	  <td>{{ object.place('TE', 0, '-total_points') }}</td>
	  <td>{{ object.player('TE', 0, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('TE', 0, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>TE2</td>
	  <td>{{ object.player('TE', 1, '-total_points').name }}</td>
	  <td>{{ object.place('TE', 1, '-total_points') }}</td>
	  <td>{{ object.player('TE', 1, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('TE', 1, '-total_points').games }}</td>
	</tr>
	<tr>
	  <td>Def</td>
	  <td>{{ object.player('Def', 0, '-total_points').name }}</td>
	  <td>{{ object.place('Def', 0, '-total_points') }}</td>
	  <td>{{ object.player('Def', 0, '-total_points').total_points|round(1) }}</td>
	  <td>{{ object.player('Def', 0, '-total_points').games }}</td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table table-striped table-sm">
      <caption>Average Points</caption>
      <thead>
	<tr>
	  <th>Position</th>
	  <th>Name</th>
	  <th>Rank</th>
	  <th>Average Points</th>
	  <th>Games</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>QB1</td>
	  <td>{{ object.player('QB', 0, '-average_points').name }}</td>
	  <td>{{ object.place('QB', 0, '-average_points') }}</td>
	  <td>{{ object.player('QB', 0, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('QB', 0, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>QB2</td>
	  <td>{{ object.player('QB', 1, '-average_points').name }}</td>
	  <td>{{ object.place('QB', 1, '-average_points') }}</td>
	  <td>{{ object.player('QB', 1, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('QB', 1, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>RB1</td>
	  <td>{{ object.player('RB', 0).name }}</td>
	  <td>{{ object.place('RB', 0) }}</td>
	  <td>{{ object.player('RB', 0).average_points|round(1) }}</td>
	  <td>{{ object.player('RB', 0, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>RB2</td>
	  <td>{{ object.player('RB', 1).name }}</td>
	  <td>{{ object.place('RB', 1) }}</td>
	  <td>{{ object.player('RB', 1).average_points|round(1) }}</td>
	  <td>{{ object.player('RB', 1, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>RB3</td>
	  <td>{{ object.player('RB', 2).name }}</td>
	  <td>{{ object.place('RB', 2) }}</td>
	  <td>{{ object.player('RB', 2).average_points|round(1) }}</td>
	  <td>{{ object.player('RB', 2, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>WR1</td>
	  <td>{{ object.player('WR', 0, '-average_points').name }}</td>
	  <td>{{ object.place('WR', 0, '-average_points') }}</td>
	  <td>{{ object.player('WR', 0, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('WR', 0, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>WR2</td>
	  <td>{{ object.player('WR', 1, '-average_points').name }}</td>
	  <td>{{ object.place('WR', 1, '-average_points') }}</td>
	  <td>{{ object.player('WR', 1, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('WR', 1, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>WR3</td>
	  <td>{{ object.player('WR', 2, '-average_points').name }}</td>
	  <td>{{ object.place('WR', 2, '-average_points') }}</td>
	  <td>{{ object.player('WR', 2, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('WR', 2, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>WR4</td>
	  <td>{{ object.player('WR', 3, '-average_points').name }}</td>
	  <td>{{ object.place('WR', 3, '-average_points') }}</td>
	  <td>{{ object.player('WR', 3, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('WR', 3, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>TE1</td>
	  <td>{{ object.player('TE', 0, '-average_points').name }}</td>
	  <td>{{ object.place('TE', 0, '-average_points') }}</td>
	  <td>{{ object.player('TE', 0, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('TE', 0, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>TE2</td>
	  <td>{{ object.player('TE', 1, '-average_points').name }}</td>
	  <td>{{ object.place('TE', 1, '-average_points') }}</td>
	  <td>{{ object.player('TE', 1, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('TE', 1, '-average_points').games }}</td>
	</tr>
	<tr>
	  <td>Def</td>
	  <td>{{ object.player('Def', 0, '-average_points').name }}</td>
	  <td>{{ object.place('Def', 0, '-average_points') }}</td>
	  <td>{{ object.player('Def', 0, '-average_points').average_points|round(1) }}</td>
	  <td>{{ object.player('Def', 0, '-average_points').games }}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<section class="row text-center placeholders">
  <div class="col-6 placeholder">
    <canvas data-title="Running Backs" data-distribution="{{ rbs }}" class="{{ graph_class }}" width="400" height="400"></canvas>
  </div>
  <div class="col-6 placeholder">
    <canvas data-title="Wide Receivers" data-distribution="{{ wrs }}" class="{{ graph_class }}" width="400" height="400"></canvas>
  </div>
  <div class="col-6 placeholder">
    <canvas data-title="Quarterbacks" data-distribution="{{ qbs }}" class="{{ graph_class }}" width="400" height="400"></canvas>
  </div>
  <div class="col-6 placeholder">
    <canvas data-title="Tight Ends" data-distribution="{{ tes }}" class="{{ graph_class }}" width="400" height="400"></canvas>
  </div>
  <div class="col-8 placeholder">
    <canvas data-title="ADP" data-distribution="{{ adp }}" class="adp" width="400" height="400"></canvas>
  </div>
</section>
<div class="row">
  {% for player in players %}
  <div class="col">
    <div class="card" style="width: 350px; height: 600px;">
      <h3 class="card-header text-center">{{ player.name }}</h3>
      {% if player.espn_id %}
      <img class="card-img-top" src="//a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{ player.espn_id }}.png&w=350&h=254" />
      {% else %}
      <img class="card-img-top" src="//static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/MCR391962.png" />
      {% endif %}
      <div class="card-block">
	<p class="card-text">
	<strong>Team</strong>: {{ player.team }}<br />
	<strong>Position</strong>: {{ player.position }}<br />
	<strong>Age</strong>: {{ player.age }}<br />
	<strong>Avg points</strong>: {{ player.average_points|round(1) }}<br />
	<strong>Total points</strong>: {{ player.total_points|round(1) }}<br />
	<strong>ADP</strong>: {{ player.adp }}<br />
	<strong>Starts</strong>: {{ player.playerresult_set.filter(started=True, result__franchise=player.franchise).count() }}<br />
	<strong>Should have been benched</strong>: {{ player.playerresult_set.filter(started=True, should_have_started=False, result__franchise=player.franchise).count() }}<br />
	<strong>Should have started, but didn't</strong>: {{ player.playerresult_set.filter(started=False, should_have_started=True, result__franchise=player.franchise).count() }}<br />
	</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main %}

