{% extends "base.html" %}
{% block main %}
<h1>{{ object.name }}</h1>
<div class="row">
  <div class="col-7">
    {% for player in players %}
    <div class="row">
      <div class="col-4">
	{% if player.player.espn_id %}
	<img class="card-img-top" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{ player.player.espn_id }}.png&w=175&h=127" />
	{% else %}
	<img class="card-img-top" src="http://placehold.it/175x127/fff.png?text={{ player.player.name }}" />
	{% endif %}
      </div>
      <div class="col-4">
	<strong><a href="{% url 'player_detail' 76173 player.player_id %}">#{{ player.player.jersey }} {{ player.player.name }} ({{ player.player.age }})</a></strong><br />
	<strong>Points</strong>: {{ player.total_points|round(1) }} ({{ player.average_points|round(1) }})<br />
	<strong>ADP</strong>: {{ player.player.adp }} ({{ player.player.dynasty_adp }})<br />
	<strong>Starts</strong>: {{ player.player.started(object.id) }} / {{ player.player.started_but_should_not_have_started(object.id) }} / {{ player.player.should_have_started_but_did_not(object.id) }}<br />
      </div>
      <div class="col-4">
	<strong>H/W</strong>: {{ player.player.height_cm|round(0) }}cm / {{ player.player.weight_kg|round(0) }}kg<br />
	<strong>Draft</strong>: {{ player.player.draft_round_or_undrafted }} ({{ player.player.draft_year }})<br />
	<strong>College</strong>: {{ player.player.college }}<br />
	{% if player.player.twitter_username %}
	<strong>Twitter</strong>: <a href="https://twitter.com/{{ player.player.twitter_username }}" target=_blank">@{{ player.player.twitter_username }}</a><br />
	{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-5">
    <section class="row text-center placeholders">
      <div class="col-12 placeholder">
	<canvas data-title="{{ title }}" data-distribution="{{ distribution }}" class="{{ class }}" width="400" height="400"></canvas>
      </div>
    </section>
  </div>
</div>
{% endblock main %}
